.jsonw-container {
    overflow: hidden;
    overflow-x: auto;
    color: #909090;
}

.prop-wrapper {
    padding-left: 15px;
    cursor: default;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Liberation Sans", sans-serif;
    font-size: 14px;
}
.prop-header {
    position: relative;
    display: inline-block;
    white-space: nowrap;
}
.prop-separator {
    margin-right: 5px;
}
.prop-name {
    color: #b863bf;
}

.prop-value.prop-type-string {
    color: #C41A16;
}
.prop-value.prop-type-string::before {
    content: '"';
}
.prop-value.prop-type-string::after {
    content: '"';
}
.prop-value.prop-type-bigint,
.prop-value.prop-type-number {
    color: #C41A16;
}
.prop-value.prop-type-undefined,
.prop-value.prop-type-object {
    color: #444444;
    font-style: italic;
}
.prop-expand {
    position: absolute;
    border: 4px solid transparent;
    border-top: 6px solid #727272;
    height: 0;
    width: 0;
    left: -10px;
    top: 4px;
    transform: rotate(-90deg);
}
.prop-expanded > * > .prop-expand {
    transform: rotate(0);
    left: -12px;
    top: 6px;
}
.prop-pill {
    background-color: #909090;
    color: #808080;
    border-radius: 5px;
    padding: 0 5px;
}

.prop-clickable {
    cursor: pointer;
}

.prop-group {
    margin: 2px 0 0 12px;
    display: inline-block;
    white-space: nowrap;
}

.prop-menu-wrapper {
    display: inline-block;
    position: relative;
    margin-left: 5px;
}
.prop-menu-button {
    border-radius: 5px;
    padding: 0 5px;
    opacity: 0;
    transition: opacity 0.5s;
    cursor: pointer;
}
.prop-header:hover .prop-menu-button {
    opacity: 1;
}
.prop-header .prop-menu-button:hover,
.prop-menu-open .prop-menu-button {
    border: 0px solid #909090;
    background-color: #909090;
    opacity: 1;
}
.prop-menu {
    color: #808080;
    position: absolute;
    z-index: 1000;
    border-radius: 5px;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #909090;
}
.prop-menu-item {
    padding: 2px 5px;
}
.prop-menu-item.enabled:hover {
    background-color: #909090;
    color: #000;
    cursor: pointer;
}

.prop-expanded > * > .prop-value-teaser {
    display: none;
}
.prop-value-teaser {
    margin: 0 5px;
    color: #909090;
}

.prop-truncated {
    position: relative;
}
.prop-length {
    position: absolute;
    right: 0;
    opacity: 0;
    transition: opacity 0.5s;
}
.prop-name:hover .prop-length,
.prop-value:hover .prop-length {
    opacity: 1;
}